



<form class="create-request" [formGroup]="changeRequestForm">
    <div class="create-request__select">
      <mat-form-field appearance="fill">
        <mat-label>User</mat-label>
        <mat-select [disabled]='true' formControlName="userId">
          <mat-option *ngFor="let user of users" [value]="user.id" >
            {{user.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <!-- <div class="create-request__select">
      <mat-form-field appearance="fill" >
        <mat-label>Type</mat-label>
        <mat-select  formControlName="type">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    </div> -->
    
    <div class="create-request__select">
      <mat-form-field  >
        <mat-label>Choose a start date</mat-label>
        <input  matInput  [matDatepicker]="picker"  formControlName="startDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    
    </div>
    
    <div class="create-request__select">
      <mat-form-field >
        <mat-label>Choose an end date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="endDate"/>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    
    </div>
    
    
      <div class="create-request__btn">
        <button mat-raised-button color="primary" [disabled]="!changeRequestForm.valid" (click)="saveChanges()">
            Save changes
         </button>

         <button mat-raised-button color="primary" [disabled]="!changeRequestForm.valid" (click)="delete()">
          Delete
       </button>
      </div>
    
     
    
    </form>
    
      
